@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WeFit</h1>
    <p>Your all-in-one solution for tracking body weight, nutrition, and workouts. Achieve your fitness goals with ease and stay motivated every step of the way!</p>
</div>
