@{
    ViewData["Title"] = "Home Page";
}

<style>

    .text-center {
        color: white;
    }

    .highlight-box {
        background-color: rgba(255, 255, 255, 0.2); /* Adjust the alpha value for the level of translucency */
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    }

</style>

<div class="text-center ">
    <div class="highlight-box  text-light">
        <h1 class="display-4">Welcome to WeFit</h1>
        <p>Your all-in-one solution for tracking body weight, nutrition, and workouts. Achieve your fitness goals with ease and stay motivated every step of the way!</p>
    </div>
</div>

